hr {
  margin: 30px 0px;
}

input {
  margin: 3px;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid grey;
  box-shadow: none;
}

button {
  padding: 7px;
  margin: 3px;
  border-radius: 1px;
  min-width: 100px;
  background: none;
  border: 0px solid grey;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px #bbbbbb;
  transition: .5s;
}

button:hover {
  background-color: rgb(255, 190, 190);
  transition: 1s;
}
